* {
	font-family: Verdana, sans-serif;
	color: gray;
	text-align: center;
	color: white;
	font-weight: normal;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 42px;
}

p,
li {
	font-size: 21px;
	color: gray;
}

a {
	text-decoration: underline;
	color: aquamarine;
	font-size: 16;
}

body {
	background-color: black;
}

h6.copyright {
	text-align: right;
	font-size: 21px
}
